{% extends "layout.html" %}

{% block title %}
    Edit Transaction
{% endblock %}

{% block main %}
    <form action="/edit_transaction" id="edit_transaction" method="post">
        <div class="form-group">
            <label> Transaction Date <br  />
                <input autocomplete="off" autofocus class="form-control" name="date" placeholder="yyyy-mm-dd" value="{{transaction.date}}" type="text"/>
            </label>
        </div>
        <div class="form-group">
            <label> Category <br  />
                <select class="form-control" name="category">
                    <option value="" disabled selected></option>
                    <!-- Preselect the category that the user chose before editing -->
                    {% for category in categories %}
                        {% if transaction.catkey == category[0] %}
                            {% set selected = "selected" %}
                        {% else %}
                            {% set selected = "" %}
                        {% endif %}
                        <!-- Make the value of the dropdown the category's id -->
                        <option value="{{category[0]}}" {{selected}}>{{category[1]}}</option>
                    {% endfor %}
                </select>
            </label>
        </div>
        <div class="form-group">
            <label> Payee / Payer <br  />
                <input autocomplete="off" autofocus class="form-control" name="payee" value="{{transaction.payee}}" type="text"/>
            </label>
        </div>
        <div class="form-group">
            <label> Description <br  />
                <textarea autocomplete="off" autofocus class="form-control" name="description" rows=4 type="text">{{transaction.description}}</textarea>
            </label>
        </div>
        <div class="form-group">
            <label> Deposit <br  />
                <input autocomplete="off" autofocus class="form-control" name="deposit" value="{{transaction.deposit}}"  type="number" min="0" step = "0.01"/>
            </label>
        </div>
        <div class="form-group">
            <label> Payment <br  />
                <input autocomplete="off" autofocus class="form-control" name="payment" value="{{transaction.payment}}" type="number" min="0" step = "0.01"/>
            </label>
        </div>
        <!-- ID of the chosen row -->
        <input type="hidden" name="id" value={{ID}} ></input>
        <button class="btn btn-primary" type="submit">Edit Transaction</button>
    </form>
    <script src="static/js/edit_transaction.js"></script>
{% endblock %}
